.fab{
    font-size: 30px;
    color: aliceblue;
}
.cart-count{
    font-size: 25px;
}
.nav-link{
    size: 40px;
    font-size: larger;
  }
  .nav-products{
    margin-top: 9px;
  }
.navbar{
  position: relative;
  width: 100%;
}